<ion-header>
  <ion-toolbar>
    <ion-title>Formulaire organisateur</ion-title>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="!managerForm.valid" (click)="confirm()"
        >Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="managerForm">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Titre</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="title"
              readonly="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Numéro d'entreprise</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="companyNumber"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Nom de l'entreprise</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="companyName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Nom du terrain</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Adresse du terrain</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainAddress"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked"
              >Numéro téléphone du propriétaire</ion-label
            >
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainPhone"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Email du propriétaire</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainEmail"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked">Site web du terrain</ion-label>
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainWebsite"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked"
              >Description du terrain</ion-label
            >
            <ion-input
              class="custom"
              type="text"
              formControlName="terrainDescription"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
