.custom-button {
    --background: #cd2323; /* Change la couleur de fond */
    color: white; /* Change la couleur du texte, si nécessaire */
    margin-left: 15px;
    margin: 10px;
  }

  p {
    margin-left: 15px;
  }