<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="arrow-back-outline"
        defaultHref="tabs/profile"
      >
      </ion-back-button>
    </ion-buttons>
    <h3 style="margin-left: 0.5em; color: #cd2323;">MES ÉVÉNEMENTS</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="openEditModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p *ngIf="events.length <= 0">Vous n'avez pas d'événements.</p>
  <ion-list *ngIf="events.length > 0">
    <ion-item
      *ngFor="let event of events"
      [routerLink]="['./event/', event.id] "
    >
      <ion-thumbnail slot="start">
        <ion-img alt="Silhouette of mountains" [src]="event.imageUrl">
        </ion-img>
      </ion-thumbnail>
      <ion-label
        >{{event.title}}
        <p>{{event.description}}</p>
        <p>
        Du  {{ formatTimestampDate(event.availableFrom) }} au
          {{ formatTimestampDate(event.availableTo) }}

        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
